{% load cloudinary %} {% cloudinary_includes %} {% cloudinary_js_config %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header style="display: flex">
      <h2>Task</h2>
      <ul style="list-style: none">
        <li><a href="{% url 'login' %}">Login</a></li>
      </ul>
    </header>
    <h3>Register</h3>
    <form method="POST" class="form-group" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-success">Register</button>
    </form>
  </body>
</html>
